$thispagesectionmargin: 5vh;

#interview-page{
   background: white;

   
    #interview-and-talks{

        @include container;
        
        
        margin: $thispagesectionmargin auto;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .interviews-and-talks-heading{
            font-size: $sectionheadings;
          font-weight: bold;
          color: #1daa9b;
          
        }
        
         iframe{
            font-family: "Fira Sans", sans-serif;
            margin-top:$thispagesectionmargin;
            height: 100vh;
            div#yt-prof-pic{
                opacity: 0;
            }
         }
    
    
    
    }
    
    
    
}





