#press-page {
    @include container;
    margin-top: $designmargin;
    margin-bottom: $designmargin;
    .press-page-header {
        font-size: $sectionheadings;
        font-weight: bold;
        color: #1daa9b;
        text-align: center;
    }
    .press-content-section {
        margin-top: $designmargin;

        .press-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 27px;
            .blog-card {
                @extend .card;
                .link-wrapper{
                    margin-top: 15px;
                    a{
                        padding: 5px 10px;

                        border-radius: 4px;
                        margin-top: 10px;
                        color:#6c5dac;
                        border: 1px solid #6c5dac;
                        
                    }
                }
            }
        }
    }

    .pagination-links{
        text-align:center;
        .links{
            text-decoration: none;
            border: 1px solid #6c5dac;
            color: black;
            height: 18px;
            width: 18px;
            border-radius: 6px;
            padding: 10px;
            transition: all .33s linear;

            &:hover{
                background: black;
                border: 1px solid #6c5dac;
                transform: scale(1.1);

            }
            &:active{
                color: #1daa9b;
                transform: scale(0.9);
            }

        }

    }
}
